################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git_Workflows
/Git_Workflows.API/bin/Debug/net9.0
/Git_Workflows.API/obj
